<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error Page</title>
        <style>
            body{
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <h1>Error!</h1>
        <p>Sorry, your city input <strong>"{{user_city}}"</strong> is not in Michigan or your input was incorrect (i.e. contain numbers).<br/><br/>
        Please go back to <a href="/">home</a> and try again.
        </p>
    </body>
</html>