<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <style>
            body{
                font-size: 1.2em;
            }
            fieldset{
                width: 50%;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to City Compare (CC) webstie!</h1>

        <p>We will compare your city in Michigan with Detroit city, a larget city in Michigan.</p>

        <form action='/options' method="POST">
            <fieldset>
                <legend>City Input</legend>
                <label for="city">Please type your city in Michigan (i.e. Ann Arbor, Lansing, etc): </label>
                <input id="city" name="city_input" type="text" required/>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </body>
</html>